@import "~bootstrap/scss/bootstrap";
body {
  background-color: rgb(241, 227, 227);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(56, 74, 80);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: ceter;
  list-style: none;
}
